<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/svg" href="./images/favicon.svg">
    <link rel="stylesheet" href="./style.css">
  </head>
  <body>
    <main>
      <h1>Steven Kao</h1>
      <section>
        <p>
        I’ve always taken great satisfaction in building stuff. My work is centered around the web with a focus on the front-end side, an area I deeply appreciate that lies at the intersection of good design and craftsmanship.
        </p>
        <p>
        My last gig was at Doist, from where I have learned to be a proficient remote worker and had the pleasure of helping develop the Todoist app.
        </p>
        <p>
        Beside coding, I like trail running and play classical piano. I am learning and practicing sustainable living and deep work.
        </p>
      </section>
      <section class="info-list mt-2">
        <h2 class="info-list--title">Work</h2>
        <ul class="info-list--list">
        {% for item in works %}
          <li>
            <div>
              {{ item.title }}
            </div>
            <p class="subtext">{{ item.description }}</p>
          </li>
        {% endfor %}
        </ul>
      </section>
      <section class="info-list mt-1">
        <h2 class="info-list--title">Project</h2>
        <ul class="info-list--list">
        {% for project in projects %}
          <li>
            <div>
              <a href="{{ project.link }}" target="_blank" rel="noopener">{{ project.title }}</a>
            </div>
            <p class="subtext">{{ project.description }}</p>
          </li>
        {% endfor %}
        </ul>
      </section>
      <section class="info-list mt-1">
        <h2 class="info-list--title">Links</h2>
        <ul class="info-list--list">
        {% for item in links %}
          <li class="mb-1">
            <div>
              <a href="{{ item.url }}" target="_blank" rel="noopener">{{ item.title }}</a>
            </div>
          </li>
        {% endfor %}
        </ul>
      </section>
    </main>
  </body>
</html>
