<html lang="en">
  <head>
    <title>Steven Kao</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/svg" href="./images/favicon.svg">
    <link rel="stylesheet" href="./style.css">
  </head>
  <body>
    <main>

      <div class="block-intro">
        <h1>Steven Kao</h1>
      </div>
      <div class="block-detail">
        <section class="info-list mt-2">
          <h2 class="info-list--title">Work</h2>
          <ul class="info-list--list">
          {% for item in works %}
            <li>
              <div>
                {{ item.title }}
              </div>
              <p class="subtext">{{ item.description }}</p>
            </li>
          {% endfor %}
          </ul>
        </section>
        <section class="info-list mt-1">
          <h2 class="info-list--title">Project</h2>
          <ul class="info-list--list">
          {% for project in projects %}
            <li>
              <div>
                <a href="{{ project.link }}" target="_blank" rel="noopener">{{ project.title }}</a>
              </div>
              <p class="subtext">{{ project.description }}</p>
            </li>
          {% endfor %}
          </ul>
        </section>
        <section class="info-list mt-1">
          <h2 class="info-list--title">Links</h2>
          <ul class="info-list--list">
          {% for item in links %}
            <li class="mb-1">
              <div>
                <a href="{{ item.url }}" target="_blank" rel="noopener">{{ item.title }}</a>
              </div>
            </li>
          {% endfor %}
          </ul>
        </section>
      </div>
    </main>
  </body>
</html>
